#Main_title
{
font-family: Impact,charcoal,sans-serif;

}
#Tabs
{
font-family: Impact,charcoal,sans-serif;
}
#month,#date,#region-dropdown,#country-dropdown,#state-dropdown,#city-dropdown,#attacktype-dropdown,
{
font-family: Comic Sans MS;

}
